@import './base.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
/*@import 'bootstrap-vue/dist/bootstrap-vue.min.css';*/


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

p {
  color: #000;
}

.card.departures {
  margin-block: 16px;
}

.tram {
  color: #780200;
}

.bus {
  color: #0078a0;
}

.regBus {
  color: #191919;
}

.metroA {
  color: #4EB370;
}

.metroB {
  color: #EEAD00;
}

.metroC {
  color: #C10141;
}
